<!DOCTYPE html>
<html>
  <head>
    <title>APP Omni Slack Bot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>APP Omni Slack Bot</h1>
    <p>Welcome to APP Omni Slack Bot</p>
  </body>
</html>
